<h1>Welcome to our Movie Database App</h1>

<p>Luke's Movie Database  is the most trusted measurement of quality entertainment. <br>
  As the leading online aggregator of movie and TV show reviews from professional critics, Luke's Movie Database offers the most comprehensive guide to what's fresh. </p>



<img src="/satantango.jpg" alt="satantango" />


<!-- I can write a mix of HTML and Ruby code (if that code is within delimiters) in any ERB (embedded ruby) file -->

 <!-- <%= 42 ** 42 %>
 Echoing delimiters
 <% 42 ** 42 %>
 Non-echoing delimiters (whatever is evaluated never reaches the browser)
 <% ["a", "b", "c", "d", "e"].each do |letter| %>

   <p>
     Current Letter: <%= letter %>
   </p>
 <% end %>

 <ul>
   <% (1..10).to_a.each do |num| %>

     <li>
       Current Number: <%= num %>
     </li>
   <% end %>
</ul>
